label {
    display: block;
    margin-bottom: 5px;
  }
body{
    margin: 20px;
    
}
h1{
    text-align: center;
}
  input[type="text"],
  input[type="number"],
  select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
  }
  select[multiple] {
    height: 100px;
  }
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #007bff;
    color: #fff;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .border{
    border-style: solid;
    margin: 20px;
  }
  .padding{
    padding: 20px;
  }